
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-thumbs-up:before { content: '\e804'; } /* '' */
.icon-users-outline:before { content: '\e805'; } /* '' */
.icon-gift:before { content: '\e806'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
